@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/site.css");



<div >
    <img src="~/Content/kdd.jpg" height="500" width="100%"/>
    <h1 >Cade meu médico</h1>
    <p><a href="http://localhost:50675/Medico/Create" class="btn btn-primary btn-lg" style="background-color: green">Cadastrar Médico</a></p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>